.portfolio {
  padding: 7.5em 2.187em;
  overflow-x: clip;
}

.port-nav-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1em;
  margin-block-end: 1.5em;
}

.port-nav-wrap > *:first-child {
  flex-basis: 300px;
}

.port-nav-wrap > *:last-child {
  flex-basis: 500px;
}

.portfolio h3.title {
  font-size: 2.375rem;
}

.port-buttons-wrap {
  /* margin-block: 2em 2.375em; */
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8em;
}

.port-buttons-wrap > * {
  background: none;
  border: none;
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: 500;
  cursor: pointer;
  padding-block: 0.625em;
}

.port-buttons-wrap > *:first-child {
  @media (min-width: 56.25rem) {
    margin-inline-start: auto;
  }
}

.port-button {
  color: rgba(0 34 64/0.75);
}

.port-button.selected {
  color: orange;
}

.port-cards-wrap {
  --gap: 0;
}

.port-cards-wrap > *:first-child {
  grid-column: 1 / -1;

  @media (min-width: 65rem) {
    grid-column: 1/3;
    grid-row: span 2;
  }
}
.port-cards-wrap > *:nth-child(6) {
  grid-column: 1 / -1;
}
.port-cards-wrap > *:nth-child(9) {
  grid-column: 1 / -1;

  @media (min-width: 65rem) {
    grid-column: 2/4;
    grid-row: 4 / span 2;
  }
}

.port-card {
  position: relative;
  display: flex;
  justify-content: center;
}

.port-card-img {
  width: 100%;
  object-fit: cover;
}

.port-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0 34 64/0);
  transition: background 0.3s ease;
}

.port-card:hover::before {
  background: rgba(0 34 64/0.75);
}

.port-card-detail {
  color: var(--clr-text-light);
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em;
}

.port-card-link {
  width: 3.125em;
  height: 3.125em;
  background: var(--clr-sec);
  border-radius: 50%;
  margin-inline: auto;
  display: grid;
  place-content: center;
}

.port-card-detail h3 {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.port-card-detail h4 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.5;
}
