.about-clients {
  padding: 7.5em 2.187em 8.75em;
  text-align: center;

  @media (min-width: 65rem) {
    text-align: left;
  }
}

.about-clients-wrap {
  @media (min-width: 65rem) {
    display: grid;
    grid-template-columns: 35% 1fr;
  }
}

.about-clients-detail h2 {
  font-size: 1.875rem;

  @media (min-width: 48rem) {
    font-size: 2.812rem;
  }
  @media (min-width: 65rem) {
    font-size: 2.5rem;
  }
}

.about-clients-detail span {
  display: block;
  color: rgba(0 0 0 / 0.8);
  font-size: 1rem;
  font-weight: 500;
  position: relative;

  @media (min-width: 65rem) {
    display: flex;
    align-items: center;
    padding-inline-start: 3.375em;
  }
}

.about-clients-detail span::before {
  @media (min-width: 65rem) {
    content: '';
    position: absolute;
    width: 2.5em;
    height: 0.31em;
    background-color: orange;
    left: 0;
  }
}

.about-clients-detail p {
  color: rgba(0 0 0 / 0.75);
  font-size: 0.875rem;
  font-weight: 500;
  margin-block: 3.21em;

  @media (min-width: 48rem) {
    font-size: 1.187rem;
  }
}

.about-brands-wrap {
  width: calc(100% - 7em);
  margin-inline: auto;

  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

.about-card {
  padding: 3.8em 1.56em;
  transition: all 0.25s ease-out;
  display: grid;
  place-content: center;

  @media (min-width: 48rem) {
    padding: 1.875em 0em;
  }
}

.about-card:hover {
  box-shadow: 0 0 35px 5px rgba(0 0 0 / 0.1);
}

.about-card img {
  margin-inline: auto;
}
