.services {
  padding: 3.125em 2.187em;
  text-align: center;

  @media (min-width: 48rem) {
    padding: 7.5em 2.187em;
  }
}

.services h2 {
  margin-block: 1em;
  font-weight: 600;
}

.serv-cards-wrap {
  --grid-gap: 2em;

  margin-block-start: 3.75em;

  @media (min-width: 48rem) {
    grid-auto-rows: 5.937em auto auto auto;
    gap: 1em;
    margin-block-start: 7.5em;
  }
}
