.contact-com-wrap {
  padding: 4.375em 2.187em 0em;

  @media (min-width: 65rem) {
    padding: 4.375em 0 13.75em;
    display: grid;
    grid-template-columns:
      minmax(2.187em, 1fr)
      repeat(3, minmax(0, 26.6em))
      minmax(2.187em, 1fr);
  }
  grid-auto-flow: dense;
}

.contact-com-top {
  @media (min-width: 65rem) {
    grid-column: 3/5;
    padding-inline-start: 7.5em;
  }
}

.contact-com-img {
  position: relative;
  height: 28.75em;
}

.contact-com-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-com-img .logo {
  position: absolute;
  width: 4.75em;
  height: 1.875em;
  bottom: 0.625em;
  left: 0.625em;
}

.contact-com-information {
  display: grid;
  gap: 2em;
  margin-block-start: 2.5em;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

.offScreen {
  position: absolute;
  left: -1000px;
}

div p.message-success {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Poppins';
  margin: 0;
}

.icon-valid {
  color: limegreen;
  width: 20px;
  height: 20px;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
