.contact-card {
  color: var(--clr-text-dark);
  padding: 1.875em 1.25em 1.56em;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  transition: all 0.3s ease;
}

.contact-card:hover {
  background: var(--clr-pri);
}

.contact-card h4 {
  position: relative;
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
  padding-inline-start: 0.6em;
}

.contact-card:hover h4 {
  color: var(--clr-text-light);
}

.contact-card h4::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0.25em;
  height: 1.45em;
  background-image: var(--linear-gradient-2);
}

.contact-card p {
  color: rgba(0 0 0/0.7);
  font-size: 0.875rem;
  font-weight: 500;
  margin-block-start: 1em;
  line-height: 1.8;
  max-width: 80%;

  @media (min-width: 48rem) {
    max-width: unset;
  }
}

.contact-card:hover p {
  color: var(--clr-text-light2);
}

.contact-card span {
  display: block;
}

.contact-icon {
  position: absolute;
  z-index: -1;
  right: -1.75em;
  bottom: -1.875em;
  width: 5.625em;
  height: 5.625em;
  fill: var(--clr-text-light);
  transition: all 0.25s ease;
}

.contact-card:hover .contact-icon {
  fill: var(--clr-text-light2);
}

.contact-com-bottom {
  padding-block: 4.375em;

  @media (min-width: 65rem) {
    grid-column: 2;
    padding-block: 0;
  }
}

.contact-com-bottom h2 {
  color: rgba(0 34 64/0.8);
}

.contact-com-bottom p {
  color: rgba(0 0 0/0.7);
  font-size: 0.875rem;
  font-weight: 500;
  margin-block: 3.571em 1em;

  @media (min-width: 48rem) {
    font-size: 1.25rem;
  }
}

.contact-form {
  margin-block-start: 2em;
}

.contact-form label {
  display: block;
}

.contact-form input,
.contact-form textarea {
  color: rgba(0 0 0/0.8);
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 100%;
  border: none;
  border-bottom: 1px solid rgba(0 34 64/0.6);
  padding-block: 0.5em;
  margin-block-end: 2.2em;
  outline: none;
}

.contact-form button {
  color: var(--clr-text-dark);
  background: var(--clr-sec);
  border: none;
  border-radius: 1.875em;
  padding: 0.93em 3.125em;
  margin-block: 3.125em 1em;
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  outline: none;

  @media (min-width: 65rem) {
    margin-block: 0;
  }
}
